* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.main {
    max-width: 100%;
}

.crd-img img, .crd1-img img, .crd2-img img {
    max-width: 100%;
    height: auto;
}
body{
    background-color: black;
     overflow-x: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-self: center;
    align-self: center;
    background-color: black;
}
.nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.nav1 button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    gap: 5px;
    background-color: rgb(53, 43, 43);
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 12px;
}
.nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav2 button{
    width: 100px;
    height: 50px;
    background-color: rgb(170, 28, 28);
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 8px;
}

/* HERO */
.hero{
    background-color: black;
}
.hero1{
    background-color: rgb(170, 28, 28);
    margin-top: 20px;
    padding-top: 2px;
    width: 700px;
    height: 25px;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}


/* TAG CARD */
.cards{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
    gap: 20px;
}
.card-txt h5{
    font-family: fantasy;
    font-size: 30px;
}
#ln{
    background-color: rgb(170, 28, 28);
    width: 80px;
    height: 5px;
    margin-top: 5px;
}
.card-imgs{
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 100%;
    box-sizing: border-box;

}

.crd-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 43, 43);
    border-radius: 50%;
    width: 210px;
    height: 210px;
    padding-bottom: 20px;
}
#ln2{
    background-color: rgb(170, 28, 28);
    width: 50px;
    height: 5px;
    border-radius: 20px;
}

/* CARDS 1 */

.cards1{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
    gap: 20px;
}
.card1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
}
.crd1-img{
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 43, 43);
    gap: 10px;
    width: 300px;
    height: 400px;
    padding-bottom: 20px;
}
.lns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.lns1{
    background-color: rgb(170, 28, 28);
    width: 17px;
    height: 25px;
}
.price{
    background-color: rgb(170, 28, 28);
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}
.crd1-img p{
    font-size: 25px;
    font-family:fantasy ;
}
.crd1-img img{
    align-self: center;
    padding-bottom: 50px;
}


/* CARDS 2 */
.cards2{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
    gap: 20px;
}
.card2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
}
.crd2-img{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 43, 43);
    gap: 5px;
    width: 290px;
    height: 400px;
    padding-bottom: 20px;
}
.crd2-img img{
    align-self: center;
}

.crd2-txt h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}
.crd2-txt p{
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#price{
    font-family: fantasy;
    font-size: 17px;   
    padding-left: 10px;
}
.crd2-img button{
    color: white;
    width: 150px;
    height: 35px;
    padding-top: 5px;
    border-radius: 8px;
    margin-top: 20px;
    align-self: center;
    background-color: rgb(255, 21, 21);
    text-align: center;
}

/* CONTACT CARDS */
.cont-card{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#cont1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#cont1 img{
    border-radius: 20px;
}
#cont2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
#cont2 img{
    border-radius: 20px;
}
#cont2-exp{
    background-color: rgb(53, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 500px;
    width: 620px;
    border-radius: 20px;
}
#txt{
    font-size: 30px;
    text-align: center;
}
#cont2-exp button{
    color: white;
    width: 250px;
    height: 50px;
    padding-top: 5px;
    border-radius: 8px;
    align-self: center;
    background-color: rgb(255, 21, 21);
    font-size: 20px;
}

/* FOOTER */

.footer{
    background-color: rgb(53, 43, 43);
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 15px;
    color: white;
}
.foot-col1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.foot-col2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 120px;
}
.foot-col3{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 700px;
}
.foot-col3 span{
    color: red;
}


/* Media Queries for Responsive Design */

/* Tablet - Medium screens (768px to 1024px) */
@media screen and (max-width: 1024px) {
    /* Navigation */
    .nav {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav1 button {
        width: 160px;
        height: 45px;
        font-size: medium;
    }
    
    .nav2 button {
        width: 80px;
        height: 45px;
        font-size: medium;
    }
    
    /* Hero section */
    .hero1 {
        width: 500px;
    }
    
    /* Cards sections */
    .cards, .cards1, .cards2 {
        padding: 30px;
    }
    
    /* Tag cards */
    .card-imgs {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    
    .crd-img {
        width: 180px;
        height: 180px;
    }
    
    .crd-img img {
        height: 150px;
        width: 150px;
    }
    
    /* Cards 1 */
    .card1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .crd1-img {
        width: 250px;
        height: 350px;
    }
    
    .crd1-img img {
        height: 350px;
        width: 220px;
    }
    
    /* Cards 2 */
    .card2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .crd2-img {
        width: 250px;
        height: 380px;
    }
    
    /* Contact cards */
    #cont1, #cont2 {
        flex-direction: column;
        align-items: center;
    }
    
    #cont1 img, #cont2 img {
        width: 90%;
        height: auto;
    }
    
    #cont2-exp {
        width: 90%;
        height: auto;
        padding: 30px 20px;
    }
    
    /* Footer */
    .foot-col1, .foot-col2 {
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
    }
    
    .foot-col2 {
        gap: 50px;
    }
    
    .foot-col3 {
        gap: 300px;
    }
}

/* Mobile - Small screens (576px to 768px) */
@media screen and (max-width: 768px) {
    /* Navigation */
    .nav {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
    
    .nav1 {
        flex-direction: column;
        gap: 10px;
    }
    
    .nav1 button {
        width: 100%;
        max-width: 300px;
    }
    
    /* Hero section */
    .hero1 {
        width: 90%;
        height: auto;
        padding: 8px 0;
        font-size: 11px;
    }
    
    /* Cards sections */
    .cards, .cards1, .cards2 {
        padding: 20px;
    }
    
    .card-txt h5 {
        font-size: 24px;
        text-align: center;
    }
    
    /* Tag cards */
    .crd-img {
        width: 150px;
        height: 150px;
    }
    
    .crd-img p {
        font-size: 14px;
        text-align: center;
    }
    
    .crd-img img {
        height: 120px;
        width: 110px;
    }
    
    /* Cards 1 */
    .crd1-img {
        width: 90%;
        max-width: 300px;
        height: auto;
        padding: 15px;
    }
    
    .crd1-img img {
        height: 300px;
        width: 90%;
        padding-bottom: 20px;
    }
    
    .price {
        font-size: 18px;
        width: 80px;
        height: 25px;
    }
    
    .crd1-img p {
        font-size: 20px;
    }
    
    /* Cards 2 */
    .crd2-img {
        width: 90%;
        max-width: 280px;
        height: auto;
        padding-bottom: 15px;
    }
    
    .crd2-img img {
        width: 90%;
        height: auto;
    }
    
    /* Contact cards */
    #cont1 img, #cont2 img {
        width: 95%;
    }
    
    #cont2-exp {
        width: 95%;
        padding: 20px 15px;
    }
    
    #txt {
        font-size: 24px;
    }
    
    #cont2-exp button {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }
    
    /* Footer */
    .foot-col1 {
        flex-direction: column;
        gap: 20px;
    }
    
    .foot-col2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    
    .foot-col3 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }
}

/* Extra Small screens (up to 576px) */
@media screen and (max-width: 576px) {
    /* Navigation */
    .nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .nav2 {
        width: 100%;
        justify-content: center;
    }
    
    /* Hero section */
    .hero1 {
        width: 95%;
        font-size: 10px;
    }
    
    /* Cards sections */
    .cards, .cards1, .cards2 {
        padding: 15px;
    }
    
    .card-txt h5 {
        font-size: 20px;
    }
    
    /* Tag cards */
    .card-imgs {
        gap: 10px;
    }
    
    .crd-img {
        width: 130px;
        height: 130px;
    }
    
    .crd-img img {
        height: 100px;
        width: 90px;
    }
    
    .crd-img p {
        font-size: 12px;
    }
    
    /* Cards 1 & 2 */
    .crd1-img, .crd2-img {
        width: 100%;
    }
    
    /* Contact cards */
    #cont1, #cont2 {
        gap: 15px;
    }
    
    #cont2-exp {
        padding: 15px 10px;
    }
    
    #txt {
        font-size: 20px;
    }
    
    #cont2-exp button {
        width: 180px;
        height: 40px;
        font-size: 16px;
    }
    
    /* Footer */
    .footer {
        padding: 20px 15px;
    }
    
    .foot-col2 div {
        margin-bottom: 10px;
    }
    
    .foot-col2 img {
        margin: 5px;
    }
}

/* Large Desktop screens (above 1440px) */
@media screen and (min-width: 1440px) {
    .main {
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .cards, .cards1, .cards2 {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .card-imgs {
        justify-content: space-between;
    }
    
    .card1, .card2 {
        justify-content: space-between;
    }
}